:host {
   display: block;
   border-bottom: 4px solid #ddd;
}

.btns {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   overflow: hidden;
   width: 50%;
}

button {
   padding: .8vmax 0;
   color: #fff;
   font-size: 1rem;
   font-weight: 700;
   text-transform: capitalize;
   letter-spacing: .08em;
   // transform: translateY(-100%);

   display: flex;
   justify-content: center;
   align-items: center;

   &:first-of-type {
      transform: translateY(0);
   }

   img { border: px solid dodgerblue;
      width: 32px;
      margin-right: .8vw;
   }
}