<!-- <input type="text" (input)="fnc($event)"> -->
<!-- <button (click)="pdfmake()">pdfMake</button> -->
<main>
   <!-- <form #myForm="ngForm" (ngSubmit)="pdfmake(myForm)"> -->
   <form #myForm="ngForm">      
      <label for="contractNo">Broj ugovora</label><br>
      <input type="number" name="contractNo" id="contractNo" ngModel><br>
      <label for="fName">Ime</label><br>
      <input type="text" name="fName" id="fName" ngModel><br>
      <label for="lName">Prezime</label><br>
      <input type="text" name="lName" id="lName" ngModel><br>
      <label for="address">Ulica i Broj</label><br>
      <input type="text" name="address" id="address" ngModel><br>
      <label for="PTT">PTT</label><br>
      <input type="text" name="PTT" id="PTT" ngModel><br>
      <label for="city">Grad</label><br>
      <input type="text" name="city" id="city" ngModel><br>
      <label for="mPhone">Telefon</label><br>
      <input type="text" name="mPhone" id="mPhone" ngModel><br>
      <label for="mail">Mail</label><br>
      <input type="email" name="mail" id="mail" ngModel><br>
      <label for="plates">Tablice</label><br>
      <input type="text" name="plates" id="plates" ngModel><br>
      <label for="vehType">Vrsta vozila</label><br>
      <input type="text" name="vehType" id="vehType" ngModel><br>
      <label for="vehCol">Boja vozila</label><br>
      <input type="text" name="vehCol" id="vehCol" ngModel><br>
      <label for="vehicle">Marka i tip</label><br>
      <input type="text" name="vehicle" id="vehicle" ngModel><br>
      <label for="vehManYear">Godina proizvodnje</label><br>
      <input type="text" name="vehManYear" id="vehManYear" ngModel><br>
      <label for="dateStart">Pocetak vazenja ugovora</label><br>
      <input type="text" name="dateStart" id="dateStart" ngModel><br>
      <label for="dateEnd">Istek vazenja ugovora</label><br>
      <input type="text" name="dateEnd" id="dateEnd" ngModel>   <br>
      <!-- <button type="submit">Submit</button> -->
      <button (click)="pdfmake(myForm, 'open')">Prikazi ugovor</button>
      <button (click)="pdfmake(myForm, 'download')">Preuzmi ugovor</button>
      <button (click)="pdfmake(myForm, 'print')">Stampaj ugovor</button>
   </form>
</main>