:host {
   display: block;
   max-width: 100%;
   overflow: hidden;
}

.mat-mdc-header-row {
   background-color: #eaeaea;
}

.mdc-data-table__header-cell {
   padding-top: 2px;
}

tr {
   cursor: pointer;
}

.selected {
   outline: 3px solid dodgerblue;
}

.nac {
   background-color: rgba(lightskyblue, 0.5);
}

.eur {
   background-color: rgba(lightgreen, 0.5);
}