<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
   <ng-container matColumnDef="cntrNum">
      <th mat-header-cell *matHeaderCellDef>Broj Ugovora</th>
      <td mat-cell *matCellDef="let element"> {{element.cntrNum}} </td>
   </ng-container>
   <ng-container matColumnDef="cntrDate">
      <th mat-header-cell *matHeaderCellDef>Datum sklapanja</th>
      <td mat-cell *matCellDef="let element"> {{element.cntrDate}} </td>
   </ng-container>
   <ng-container matColumnDef="fName">
      <th mat-header-cell *matHeaderCellDef>Ime</th>
      <td mat-cell *matCellDef="let element"> {{element.fName}} </td>
   </ng-container>
   <ng-container matColumnDef="lName">
      <th mat-header-cell *matHeaderCellDef>Prezime</th>
      <td mat-cell *matCellDef="let element"> {{element.lName}} </td>
   </ng-container>
   <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Ulica i Broj</th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
   </ng-container>
   <ng-container matColumnDef="PTT">
      <th mat-header-cell *matHeaderCellDef>PTT</th>
      <td mat-cell *matCellDef="let element"> {{element.PTT}} </td>
   </ng-container>
   <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>Grad</th>
      <td mat-cell *matCellDef="let element"> {{element.city}} </td>
   </ng-container>
   <ng-container matColumnDef="mPhone">
      <th mat-header-cell *matHeaderCellDef>Telefon</th>
      <td mat-cell *matCellDef="let element"> {{element.mPhone}} </td>
   </ng-container>
   <ng-container matColumnDef="mail">
      <th mat-header-cell *matHeaderCellDef>mail</th>
      <td mat-cell *matCellDef="let element"> {{element.mail}} </td>
   </ng-container>
   <ng-container matColumnDef="plates">
      <th mat-header-cell *matHeaderCellDef>Tablice</th>
      <td mat-cell *matCellDef="let element"> {{element.plates}} </td>
   </ng-container>
   <ng-container matColumnDef="vehType">
      <th mat-header-cell *matHeaderCellDef>Vrsta vozila</th>
      <td mat-cell *matCellDef="let element"> {{element.vehType}} </td>
   </ng-container>
   <ng-container matColumnDef="vehCol">
      <th mat-header-cell *matHeaderCellDef>Boja</th>
      <td mat-cell *matCellDef="let element"> {{element.vehCol}} </td>
   </ng-container>
   <ng-container matColumnDef="vehicle">
      <th mat-header-cell *matHeaderCellDef>Marka i tip</th>
      <td mat-cell *matCellDef="let element"> {{element.vehicle}} </td>
   </ng-container>
   <ng-container matColumnDef="vehManYear">
      <th mat-header-cell *matHeaderCellDef>Godina proizvodnje</th>
      <td mat-cell *matCellDef="let element"> {{element.vehManYear}} </td>
   </ng-container>
   <ng-container matColumnDef="dateStart">
      <th mat-header-cell *matHeaderCellDef>Start ugovora</th>
      <td mat-cell *matCellDef="let element"> {{element.dateStart}} </td>
   </ng-container>
   <ng-container matColumnDef="dateEnd">
      <th mat-header-cell *matHeaderCellDef>Kraj ugovora</th>
      <td mat-cell *matCellDef="let element"> {{element.dateEnd}} </td>
   </ng-container>

   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr 
      mat-row 
      *matRowDef="let row; columns: displayedColumns;" 
      [class.nac]="row.pcg==1"
      [class.eur]="row.pcg==2"
      [class.selected]="selection?.id==row.id"
      (click)="row.selected = !row.selected; getRow(row)"></tr>
</table>

<div class="btns">
   <button (click)="pdfmake('open')">Prikazi ugovor</button>
   <button (click)="pdfmake('download')">Preuzmi ugovor</button>
   <button (click)="pdfmake('print')">Stampaj ugovor</button>
</div>